body {
    color:rgb(202, 53, 53);
    background: rgb(23, 223, 206);
    font-family: "Funnel Sans", sans-serif;
}

header{
    border-bottom: solid  2px rgb(46, 106, 235);
    padding: 20px;
    font-size: 30px;
    color: rgd(46, 106, 235);
}
.chamada {
    background: #5a70b3;
    padding: bottom 80px;
    padding-top: 80px; 
    display: flex;
    justify-content: center;


}

 .chamada-texto{
    margin-right: 5%;
 }

 h1{
    font-size: 36px;
 }

 p{
    font-size: 20px;
 }

 img {
    height: 200px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  .categoria {
    padding-left: 20px ;
    padding-right: 20px;
 