body {
    color:rgb(202, 53, 53);
    background: rgb(23, 223, 206)
}

header{
    border-bottom: solid  2px rgb(46, 106, 235);
    padding: 20px;
    font-size: 30px;
    color: rgd(46, 106, 235);
}

section{
    background: #5a70b3;
    padding: bottom 80px;
    padding-top: 80px; 
    display: flex;
    justify-content: center;


}

 .chamada-texto{
    margin-right: 5%;
 }
